<app-header menuIdCustom="{{questionHeader()}}"></app-header>
<ion-content *ngIf="currentStudentQuestion">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{currentStudentQuestion.questionnaire.title}}</ion-card-title>
      <ion-card-subtitle>Question {{currentStudentQuestion.question.sequenceNumber}} : {{currentStudentQuestion.question.title}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form role="form" (submit)="submit()">
        <div *ngIf="trueFalseQuestion()">
          <ion-list radio-group  >
            <ion-radio-group  [formControl]="trueFalseFormControl" required=true value="trueFalse" [(ngModel)]="currentStudentQuestion.answer.value" (ngModelChange)="textChanged($event)">
              <ion-item>
                <ion-label>True</ion-label>
                <ion-radio [disabled]="currentStudentQuestion.locked || observeMode" slot="end" value="true"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>False</ion-label>
                <ion-radio [disabled]="currentStudentQuestion.locked || observeMode" slot="end" value="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <div class="error-message" *ngIf="!checkIfFormValid()">
              You should choose true or false
          </div>
        </div>

        
        <div  *ngIf="freeTextQuestion()">
          <ion-input [formControl]="freeTextFormControl" [disabled]="currentStudentQuestion.locked || observeMode" type="text" color="tertiary" class="box" clearInput  
          placeholder="Enter answer" required  [(ngModel)]="currentStudentQuestion.answer.value" (ngModelChange)="textChanged($event)"></ion-input>
          <div class="error-message" *ngIf="!checkIfFormValid()">
            Text should not be empty or longer than 50 caracters
          </div>
        </div>


        <div *ngIf="multipleChoiceQuestion()">
          <ion-list radio-group  >
            <ion-radio-group [formControl]="multipleChoiceFormControl" required=true value="trueFalse" [(ngModel)]="currentStudentQuestion.answer.propositionId" (ngModelChange)="multiChanged($event)">
              <ion-item *ngFor="let proposition of currentStudentQuestion.question.propositions">
                <ion-label  class="ion-text-wrap">{{proposition.value}}</ion-label>
                <ion-radio  [disabled]="currentStudentQuestion.locked || observeMode" slot="end" value="{{proposition.id}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <div class="error-message" *ngIf="!checkIfFormValid()">
            You should choose one proposition
          </div>
        </div>


        <ion-row>
          <ion-col>
            <ion-button [disabled]="observeMode" *ngIf="currentStudentQuestion.question.sequenceNumber>1" color="tertiary" size="medium" expand="block" (click)="previous()" >Previous</ion-button>
          </ion-col>
          <ion-col *ngIf="currentStudentQuestion.question.sequenceNumber < currentStudentQuestion.questionnaire.questionCount">
            <ion-button [disabled]="observeMode" color="tertiary" size="medium" expand="block" (click)="next()" >Next</ion-button>
          </ion-col>    
          <ion-col *ngIf="currentStudentQuestion.question.sequenceNumber === currentStudentQuestion.questionnaire.questionCount">
            <ion-button [disabled]="observeMode" color="danger" size="medium" expand="block" (click)="lock()" >Finish</ion-button>
          </ion-col>      
        </ion-row>
       
        
      </form> 
    </ion-card-content>
  </ion-card>
  
</ion-content>
