<app-header menuIdCustom="questionnaireHeader"></app-header>
<ion-content *ngIf="currentStudentQuestion">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{currentStudentQuestion.questionnaire.title}}</ion-card-title>
      <ion-card-subtitle>Question {{currentStudentQuestion.question.sequenceNumber}} : {{currentStudentQuestion.question.title}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form role="form" (submit)="submit()">
        <ion-list radio-group *ngIf="trueFalseQuestion()" >
          <ion-radio-group [formControl]="trueFalseFormControl" required=true value="trueFalse" [(ngModel)]="currentStudentQuestion.answer.value" >
            <ion-item>
              <ion-label>True</ion-label>
              <ion-radio slot="end" value="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>False</ion-label>
              <ion-radio slot="end" value="false"></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-list>
        <div class="error-message" *ngIf="!checkIfFormValid()">
        You should choose true or false
        </div>
        <ion-input  *ngIf="freeTextQuestion()" type="text" color="tertiary" class="box" clearInput  
        placeholder="Enter answer" required  [(ngModel)]="currentStudentQuestion.answer.value" [ngModelOptions]="{standalone: true}" ></ion-input>
        
        <ion-row>
          <ion-col>
            <ion-button *ngIf="currentStudentQuestion.question.sequenceNumber>1" color="tertiary" size="medium" expand="block" (click)="previous()" >Previous</ion-button>
          </ion-col>
          <ion-col *ngIf="currentStudentQuestion.question.sequenceNumber < currentStudentQuestion.questionnaire.questionCount">
            <ion-button  color="tertiary" size="medium" expand="block" (click)="next()" >Next</ion-button>
          </ion-col>    
          <ion-col *ngIf="currentStudentQuestion.question.sequenceNumber === currentStudentQuestion.questionnaire.questionCount">
            <ion-button  color="danger" size="medium" expand="block" (click)="lock()" >Finish</ion-button>
          </ion-col>      
        </ion-row>
       
        
      </form> 
    </ion-card-content>
  </ion-card>
  
</ion-content>
