    <!--<ion-menu side="start" content-id="main" menuId="first">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
          <ion-buttons slot="end">
            <ion-button  (click)="closeMenu()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          
        </ion-toolbar>
        
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="mail" slot="start" routerLinkActive="active" routerLink="/home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="paper-plane" slot="start" (click)="logout()"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button (click)="openMenu()"></ion-menu-button>
          </ion-buttons>
          <ion-title>Social Mobile Learning</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button expand="block"  (click)="openMenu()">Open Menu</ion-button>
      </ion-content>
    
  </div> -->
    <ion-app>
      <ion-router-outlet id="main"></ion-router-outlet>
    </ion-app>

  
