	<app-header menuIdCustom="welcomeHeader"></app-header>
	<ion-content>
		<div *ngIf = "!authenticated(); else showAuthenticated">
			<app-login></app-login>
		</div>
		<ng-template  #showAuthenticated>
			<div *ngIf="!observeSelected && !workSelected">
				<div *ngIf = "!start">
					<ion-button  (click)="startApp()">
						<ion-icon name="play-outline"></ion-icon>
						<ion-label>Start</ion-label>
					</ion-button>
				</div>
				<div *ngIf="!!questionnaireObserve"> 
					<ion-button >
						<ion-icon name="play-outline"></ion-icon>
						<ion-label>Observe an other student</ion-label>
					</ion-button>
				</div>
				<div *ngIf="!!questionnaireObserve"> 
					<ion-button  [routerLink]="['/work']" >
						<ion-icon name="play-outline"></ion-icon>
						<ion-label>Work on the exercices</ion-label>
					</ion-button>
				</div>
			</div>
			<div *ngIf = "!backHome && observeSelected">

			</div>
			<div *ngIf = "!backHome && workSelected">

			</div>
		</ng-template>
	
	</ion-content>



	
	

